*.jl.cov
*.jl.*.cov
*.jl.mem
*play.jl
assets/bulma.min.css
assets/bulma-slider.min.css
assets/bulma-switch.min.css
assets/bulma-accordion.min.css
assets/bulma-checkradio.min.css
assets/bulma-tooltip.min.css
assets/all.js
assets/main.css
deps/build.log
